@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@custom-variant dark (&:where(.dark, .dark *));

@import '@friendofsvelte/tipex/styles/index.css';

svg {
	display: inline-block;
}

/* body { */
/* OPTIONAL: Background Mesh Gradient */
/* https://next.skeleton.dev/docs/design/themes#backgrounds */
/* prettier-ignore */
/* background-attachment: fixed; */
/* prettier-ignore */
/* background-image:
      radial-gradient(at 0% 25%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 30%),
      radial-gradient(at 15% 06%, color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px, transparent 30%); */
/* } */
body {
	background-image: radial-gradient(
		at 24% 25%,
		color-mix(in oklab, var(--color-primary-500) 30%, transparent) 0px,
		transparent 30%
	);
	/* radial-gradient(
			at 35% 13%,
			color-mix(in oklab, var(--color-success-500) 18%, transparent) 0px,
			transparent 30%
		),
		radial-gradient(
			at 100% 64%,
			color-mix(in oklab, var(--color-error-500) 3%, transparent) 0px,
			transparent 40%
		); */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
